[Template]
ver=1
Name=Graphics.h
Icon=CL_Graphics.ico
Description=A simple program use Easy Graphics Engine
Category=Multimedia
[Unit0]
CppName=main.cpp
Cpp=CL_Graphics_cpp.txt
[Project]
UnitCount=1
Type=0
IsCpp=1
linker=-lpthread -lm -lgraphics -lgdiplus -lgdi32 -limm32 -lmsimg32 -lole32 -loleaut32 -lwinmm -luuid -mwindows --static_@@__@@_


